body, html {
  float: left;
  margin-left: 120px;
  height: 100%;
    padding: 20px;
  
  
}
.topic{
  font-size: 70px;
  display: block;
  text-align: centre;
margin-left: 200px;
  color: black;


}
body {
	background: linear-gradient(-45deg, #f3d9d1, #d3a5b6, #abccd8, #9ee9d7, #cca799);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: rgb(241,245,225);
  background: linear-gradient(90deg, rgba(241,245,225,1) 0%, rgba(184,221,110,1) 7%, rgba(95,208,74,1) 35%, rgba(55,185,171,1) 62%, rgba(117,188,207,1) 73%, rgba(0,212,255,1) 100%);
  margin-left: 50px;
}
* {
  box-sizing: border-box;
}


.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: rgb(203, 221, 221);
  padding: 20px;
  margin-top: 20px;
}
.card h1{
  text-align: center;
  color: blue;
  font-size: 45px;;
}
.card h3{
  color: #f34f11;
  text-align: center;

}
.card p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}


.card img{
  width: 100px;
  height: 100px;
  align-items: center;
}

.row{
  margin-left: 50px;
}


.row:after {
  content: "";
  display: table;
  clear: both;
}

.button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: pink;
  font-size: 20px;
  color: white;
  padding: 10px 30px;
  cursor: pointer;
}

#box{
  width: 700px;
  overflow: hidden;
  background: #ADD8E6;
  box-shadow: 0 0 10px black;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  padding: 10px;
  text-align: center;
  display: none;
}

#box span{
  color: black;
  font-size: 40px;
  display: block;
  margin: 20px 0;
}

.close{
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 10px 20px;
  cursor: pointer;
  background-color: white;
  display: inline-block;
  border-radius: 1px solid #000;
}
.checkbox{
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
}
.checkbox:nth-child(odd) {
  background: #f9f9f9;
}

.rightcolumn .card{
  background-color: rgb(11, 168, 116);
}
 .card h2{
   font-size: 30px;
   text-align: center;

 }

